<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.cloud.casProxy.dao.AreaScopeLimitationMapper">
	<resultMap id="BaseResultMap"
		type="net.tfedu.zhl.cloud.casProxy.entity.AreaScopeLimitation">
		<!-- WARNING - @mbggenerated -->
		<constructor>
			<idArg column="Id" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="Code" jdbcType="CHAR" javaType="java.lang.String" />
			<arg column="pCode" jdbcType="CHAR" javaType="java.lang.String" />
			<arg column="level" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="Name" jdbcType="CHAR" javaType="java.lang.String" />
			<arg column="Flag" jdbcType="BIT" javaType="java.lang.Boolean" />
		</constructor>
	</resultMap>
	<!-- 该市或者该省是否允许使用 -->
	<select id="isAllowToUse" resultType="String">
		select 1 from tp_area_scope_limitation asl where asl.`code` in(#{cityCode},#{provinceCode})
	</select>
</mapper>