<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.cloud.resource.poolconfig.dao.ZAppUserPoolConfigMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.cloud.resource.poolconfig.entity.ZAppUserPoolConfig" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="appId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="userid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="poolid" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="termid" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="subjectid" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="start_date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="expire_date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="add_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="edit_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="flag" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
  
  
  
  
  
  
  <select id="getPoolsAndAppUserConfig" resultType="Map">

	
	  	
  	select p.id,p.name,IFNULL((now() > c.start_date and c.expire_date>now()),FALSE) permission, IFNULL(c.expire_date,'')as expire_date from z_res_pool p 

	LEFT JOIN z_appuser_pool_config c on c.poolid = p.id and c.appid = #{appId} and c.userid = #{userName} and c.flag = false 
	
	<if test="termId > 0 ">
		and termid = #{termId}
	</if>
	 
	<if test="termId > 0 ">
		and subjectid = #{subjectId}
	</if>
	
	where p.flag = false 
	
	  	
  
  </select>
  
  
  <select id="getAppUserPoolConfig" resultType="Map">
  	
  	select p.id,p.name,IFNULL((now() > c.start_date and c.expire_date>now()),FALSE) permission, IFNULL(c.expire_date,'')as expire_date from z_res_pool p 

	LEFT JOIN z_appuser_pool_config c on c.poolid = p.id 
	
	where p.flag = false 
	
	and c.appid = #{appId} and c.userid = #{userName} and c.flag = false 
  
  	<if test="termId > 0 ">
		and termid = #{termId}
	</if>
	 
	<if test="termId > 0 ">
		and subjectid = #{subjectId}
	</if>
	
  </select>
  
</mapper>