* {
	padding: 0px;
	margin: 0px;
}

* {
	font-family: "微软雅黑";
}

body {
	font: 14px/1.6 "Microsoft Yahei";
}

.firstPage{
	width: 100%;
	margin: 0 auto;
}
.header {
	background: url(../img/background.gif) no-repeat center;
	background-position:center center;
	width: 100%;
	margin: 0 auto;
	height: 740px !important;
}
.header-top{
	margin: 0 auto;
}
.header-topItem{
	text-align: center;
	
}
.header-topItem button {
	cursor: pointer;
	font-size: 16px;
	color: #fff;
	background-color: #90a9fd;
	height: 40px;
	width: 100px;
	line-height: 38px;
	margin-top:14px;
	border: 1px solid #fff;
	border-radius: 100px;
	outline: none;
	
}
.header-topItem button:hover{
	background-color: #6783e4;
	border: 1px solid #6783e4;
	}
#student{
	margin-left: 18px;
}
.header-topItem button a{
	color:#fff;
}

/*查看微课smallClass
登陆注册login*/

.header-right{
	float: left;
	text-align: center;
	margin-left: 65%;
	margin-top:180px;
	width:320px;
	height: 340px;
	background-color: #fff;
	/*border: 1px solid #91aafe;*/
	border-radius: 10px;
	box-shadow: 0px 0px 30px 2px #6d89ff;


}
.gradient{
	float: left;
	margin-left: -5px;
	margin-top:180px;
	width:8%;
	height: 340px;
	/*	linear-gradient: 180deg, #fff 10%,#6783e4 40%;*/
	background: linear-gradient(to right, #fff 0%,#93affc 100%);
	/*background: linear-gradient(to bottom, #fff 0%,#8aa1fa 100%);*/
	opacity:0.15;
	
}
.header-right span{
	display: block;
	margin-top:6px;
	font-size: 18px;
	/*margin-top:20px;*/
	line-height: 50px;
	
}
#QRcode {
	margin-top:5px;
	margin-bottom: 15px;
	height: 120px;
	width: 120px;
}
.header-right button {
	cursor: pointer;
	text-align: center;
	margin:8px 0;
	height: 40px;
	width: 200px;
	border: 1px solid #91aafe;
	border-radius: 100px;
	line-height: 40px;
	font-size: 16px;
	background-color: #fff;
	outline: none;
	color:#91aafe;
}
.header-right button:hover {
	background-color: #91aafe;
	border: 1px solid #91aafe;
	color:#fff;
}
.section2{
	background: url(../img/secondPage.gif) no-repeat center;
	background-position:center center;
	width: 100%;
	margin: 0 auto;
	height: 445px;
}
.section3{
	background: url(../img/thirdPage.gif) no-repeat center;
	background-position:center center;
	background-color: #fafafa;
	width: 100%;
	margin: 0 auto;
	height: 435px;
}
.section4{
	background: url(../img/fourPage.gif) no-repeat center;
	background-position:center center;
	width: 100%;
	margin: 0 auto;
	height: 438px;
}
.footer {
	clear: both;
	height: 72px;
	width:1366px;
	text-align: center;
	color: #333;
	margin: 20px auto;
	line-height: 25px;
}
