/*助我学 登陆注册*/
/*登陆注册部分*/
.loginBox{
	position: absolute;
	left: 80%;
	top: 13px;
	color: #FFF;
	line-height: 42px;
/*	float: right !important;*/
}
.loginBox span{
	float: left;
	margin-left: 20px;
}
.place{
	border: none;
	outline: none;
	cursor: pointer;
	text-align: center;
	font-size: 16px !important;
}
.place:hover{
	color:#6783e4;
}

@media only screen and (max-height: 750px) {
	.main,.banner{
		margin-top: 73px;
	}
	
}
@media only screen and (max-height: 700px) {
	.main,.banner{
		margin-top: 57px;
	}
	
}
@media only screen and (max-height: 650px) {
	.main,.banner{
		margin-top: 40px;
	}
	
}
@media only screen and (max-height: 600px) {
	.main,.banner{
		margin-top: 24px;
	}
	
}

.cover
{
	position: fixed;
	/*background: rgba(155,155,155,0.7);*/
	background:#000;
	left: 0px;
	top:0px;
	z-index: 2;
	display: none;
	width: 100%;
	height:5000px;

}
/*登陆框*/
.pop{
	width: 760px;
	height: 476px;
	/*box-shadow: 0 0 10px #7b818d;*/
/*	border: 1px solid #7c808c;*/
	border-radius: 3px;
	background: #fff;
	overflow: hidden;	
	position: fixed;
	left: 20%;
	top:20%;
	z-index: 3;
}

.pop-left{
	float: left;
	width: 370px;
	height: 476px;
	text-align: center;
}
.pop-left img{
	margin-top:110px;
	width: 279px;
	height: 246px;

}
.login-title{
	display: block;
	margin:58px 0;
	font-size: 30px;
}
.pop-right{
	float: right;
	width: 380px;
	height: 476px;
	text-align: center;
}
.offVideo{
	width:16px;
	height: 16px;
	margin-top:8px;
	cursor: pointer;
	background:#fff url(../img/icon_close.png) center center no-repeat;
}
.offVideo:hover{
	background:#fff url(../img/icon_closec.png) center center no-repeat;
}
.pop-item {
	position: relative;
    margin-bottom: 15px;
	margin:5px auto;
	height: 42px;
	width:280px;
	border-bottom: 1px solid #e5e5e5;
}
.pop-item label{
	display: block;
    position: absolute;
    top: 8px;
    left: 0px;
    width: 0;
    height: 24px;
    margin:0 auto;
    overflow: hidden;
    padding: 0 0 0 24px;
    background-repeat: no-repeat;
    z-index: 20;
}
.pop-item input
{
	position: absolute;
    top: 8px;
    left: 30px;
    height: 24px;
    width:200px;
	border:none;
	outline: none;
}

.userIcon
{
	background:#fff url(../img/icon_nicheng.png) center center no-repeat;
}
.pswIcon
{
	background:#fff url(../img/icon_lock02.png) center center no-repeat;
}
/*.pop #psw{
	display:inline-block;
	width: 210px;
}*/
.showLoginPsw{
	display: block;
	position: absolute;
    top: 8px;
    left: 255px !important;
    height: 24px;
    width: 24px;
	line-height: 42px;
	background:#fff url(../img/icon_look.png) right center no-repeat;
	cursor: pointer;
}
/*.pop #showLoginPsw{
	display:inline-block;
	width: 25px;
}*/
.showLoginPswc
{
	background:#fff url(../img/icon_lookc.png) right center no-repeat;
}
.loginBtn
{
	border: none;
	outline: none;
	display: block;
	width:196px;
	height: 38px;
	background-color: #86a1fd;
	border-radius: 3px;
	color: #fff;
	font-size:14px;
	margin:0px auto;
	margin-top: 30px;
	margin-bottom: 30px;
	cursor: pointer;
}
.loginBtn:hover
{
	background-color: #6783e4;
}


/*注册框*/
.popRegister
{
	display: none;
}
/*.popRegister input{
	display: block;
	margin:5px auto;
	height: 32px;
	width:240px;
	border:none;
	outline: none;
	border-bottom: 1px solid #e5e5e5;
}*/
.register-title{
	display: block;
	margin-top:58px;
	margin-bottom:28px;
	font-size: 30px;
}
.emailIcon
{
	background:#fff url(../img/icon_phone.png) 0 center no-repeat;
}
.valiCodeIcon
{
	background:#fff url(../img/icon_mail.png) 0 center no-repeat;
}
.setUserIcon
{
	background:#fff url(../img/icon_nicheng.png) 0 center no-repeat;
}
.setPswIcon
{
	background:#fff url(../img/icon_lock02.png) 0 center no-repeat;
}
/*.pop #setPsw
{
	display:inline-block;
	width: 210px;
}*/
.pop #valiCode
{
	width: 145px;
}
.pop #codeTime
{
	font-size: 14px;
	background-color: #fff;
}
.pop #codeTime:hover{
	color: #6a85f8;
}

#codeTime
{
	color: #85affd;
	display: block;
	position: absolute;
    top: 8px;
    left: 200px;
    height: 24px;
    width: 85px;
	cursor: pointer;

	
}
#infoError
{
	color: #f00;
}
.popLogin
{
	display: none;
	
}
.errorMes
{
	display: block;
	width: 280px;
	margin:6px auto;
	height: 14px;
	color: #f00 !important;
	text-align: left;
}
/*忘记密码*/
.lisePsw
{
	/*display: block;*/
	display: none;
	/*float:right;*/
	/*width: 171px;*/
	margin:2px auto;
	cursor: pointer;
	color: #999999;
	background-color: #fff;
}

.registerLink
{
	width:154px;
	margin: 14px auto;
	display: block;
	/*display: none;*/
	text-align: center;
	
}
.registerLink span
{
	cursor: pointer;
	text-decoration: underline;

}
.registerLink span:hover{
	color:#86a1fd;
}

.setAdmin
{
	border: none;
	outline: none;
	display: block;
	width:196px;
	height: 38px;
	background-color: #86a1fd;
	border-radius: 3px;
	color: #fff;
	font-size:14px;
	margin:0px auto;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
}
.setAdmin:hover{
	background-color: #6783e4;
}

.showPsw
{
	display: block;
	position: absolute;
    top: 8px;
    left: 255px;
    height: 24px;
    width: 24px;
	line-height: 42px;
	background:#fff url(../img/icon_look.png) right center no-repeat;
	cursor: pointer;
}
/*.pop #showPsw{
	display:inline-block;
	width: 25px;
}*/
.showPswc
{
	background:#fff url(../img/icon_lookc.png) right center no-repeat;
}

/*忘记密码*/
.popLisePsw
{
	display: none;
	width:258px;
	height: 235px;
	color: #0094FF;
	box-shadow: 0 0 30px #ccc;
	z-index: 3;
	position: fixed;
	left: 40%;
	top: 25%;
	background: #fff;
	overflow: hidden;
	font-size: 14px;
}
.popLisePsw input
{
	
	background:#e6e6e6;
	display: block;
	margin:5px auto;
	height: 30px;
	width:190px;
	border: 1px solid #0094FF;
	outline: none;
	margin-bottom: 20px;color: #0094FF;
	
	
}
.find
{
	display: block;
	font-size: 24px;
	line-height: 40px;
	margin:50px auto 20px auto;
	text-align: center;
}
.bemail
{
	display: block;
	height: 20px;
	width:100px ;
	padding-left: 20px;
	background: url(../img/email.gif) left 2px no-repeat;
	margin-left: 32px;
	margin-top: 30px;
}

.popLisePsw .validate
{
	border: 1px solid #0094FF;
	background: #e6e6e6;
	padding:1px;
	margin-left: 32px;
	font-size: 12px;
	width: 60px;
	height: 20px;
	display: inline-block;
	color:  #0094FF;
	margin-top: 0;
	margin-bottom: 0;
}
.random
{
	background: #e6e6e6;
	padding: 4px;
	font-size:12px;
	margin-left: 2px;
	
}
.random em
{
	cursor: pointer;
	text-decoration: underline;
}
#random
{
	background: #D0CDDE;
	padding: 2px;
	margin-right: 2px;
	overflow: hidden;
	cursor: pointer;
	color: #555;
	font-weight: bold;
}
.popLisePsw button
{
	border: none;
	outline: none;
	width: 120px;
	height: 35px;
	margin:3px;
	margin-top:25px;
	cursor: pointer;
	
}
.popLisePsw .lastStep
{
	margin-left: 4px;
	background: url(../img/last.png);
}
 .nextStep
{
	background: url(../img/nextStep.png);
}
.popLisePsw .lastStepc
{
	background: url(../img/lastc.png);
}

.popLisePswNext
{
	display: none;
	width:242px;
	height: 220px;
	color: #0094FF;
	box-shadow: 0 0 30px #ccc;
	position: absolute;
	left:40%;
	top:25%;
	z-index: 3;
	background: #fff;
	overflow: hidden;
	font-size: 14px;
}
.liseMain
{
	width:200px;
	height: 100px;
	border: 1px solid #fff;
	margin:0 auto;
	background: url(../img/emailicon.png) no-repeat center 10px;
}


.liseMain span{
	display: block;
	width:200px;
	text-align: center;
	line-height: 20px;
	
}
.span1{
	margin-top: 60px;
}
.liseBack
{
	display: block;
	width:242px;
	height: 35px;
	background: url(../img/liseback.png);
	margin-top: 20px;
	cursor: pointer;
}

.popRegisterSuc
{
	width:242px;
	height:180px;
	display: none;
	box-shadow: 0 0 10px #e6e6e6;
	position: fixed;
	left: 40%;
	top: 25%;
	z-index: 3;
	background: #e6e6e6;
	overflow: hidden;
	font-size: 14px;
	border-radius: 10px;
	background: #E6E6E6;
	color: #666;
}
.activeEmail
{
	background: url(../img/emailicon.png) no-repeat center 10px;
	width: 200px;
	height: 40px;
	margin:10px auto;
	padding-top: 50px;
	margin-bottom: 5px;
	
}
.activeEmail span
{
	display: block;
	width:200px;
	line-height: 20px;
	text-align: center;
	margin:0 auto;
}
.registerEmail
{
	color: #0094FF;
	font-size: 12px;
}
.intoEmail
{
	display: block;
	width:97px;
	height: 23px;
	background: url(../img/intoemail.png);
	margin:10px auto;
	cursor: pointer;
}
.intoEmailc
{
	background: url(../img/intoemailc.png);
}
.finish
{
	color:#0094FF;
	display: block;
	margin:0 auto;
	width: 200px;
	text-align: center;
}

.popSuccess
{
	width:242px;
	height:130px;
	display: none;
	box-shadow: 0 0 10px #e6e6e6;
	position: fixed;
	left: 40%;
	top: 30%;
	background: #e6e6e6;
	overflow: hidden;
	font-size: 14px;
	border-radius: 10px;
	background: #E6E6E6;
	z-index: 3;
	
}
.popSuccess div
{
	width: 50px;
	height:36px ;
	background: url(../img/success.png);
	margin:20px auto;
	margin-top: 30px;
}
.simple
{
	display: none !important;
}
/*.fillInfo
{
	display: block;
	width:97px;
	height: 23px;
	background: url(../img/fill.png);
	margin:10px auto;
	cursor: pointer;
	margin-top: 20px;
}
.fillInfoc
{
	background: url(../img/fillc.png);
	
}*/
/*完善信息*/
.popFillInfo
{
	display: none;
	text-align: center;
	width: 500px;
	position: fixed;
	padding: 0px;
	top: 22%;
	left: 33%;
	background: #fff;
	overflow: hidden;
	font-size: 14px;
	box-shadow: 0 0 30px #7b818d;
	z-index: 4;
	border-radius: 4px;
}
.pop-itemW {
	position: relative;
    margin-bottom: 15px;
	margin:5px auto;
	height: 52px;
	width: 360px;
	border-bottom: 1px solid #e5e5e5;
}
.infopop-itemW {
	position: relative;
    margin-bottom: 15px;
	margin:5px auto;
	height: 42px;
	width: 360px;
}
.pop-itemW span,.infopop-itemW span{
	position: absolute;
    top: 15px;
    left: 0px;
    height: 24px;
    margin:0 auto;
    overflow: hidden;
    padding: 0 0 0 24px;
    background-repeat: no-repeat;
    z-index: 20;
}
.infopop-itemW label {
	position: absolute;
    top: 15px;
    left: 30px;
	color: #c5c5c5;
	width: 80px;
	height:24px;
	line-height: 24px;
	margin-bottom:-5px;
	text-align: center;
}
.pop-itemW input
{
	position: absolute;
    top: 15px;
    left: 54px;
    height: 24px;
    width:200px;
	border:none;
	outline: none;
}

.infopop-itemW select {
	position: absolute;
    top: 15px;
    left: 110px;
    height: 24px;
	background: #E6E6E6;
	border: none;
	border-radius:2px;
}
.areaS {
	display: inline-block;
	margin-top:0px;
	margin-left:0px;
	width: 80px;
	height: 24px;
}
.areaC {
	display: inline-block;
	margin-top:0px;
	margin-left:85px;
	width: 80px;
	height: 24px;
}
.areaT {
	display: inline-block;
	margin-top:0px;
	margin-left:170px;
	width: 80px;
	height: 24px;
}
.s {
	width: 250px;
}

/*.popFillInfo input
{
	background: #fff;
	border: none;
	border-bottom: 1px solid #ccc;
	width:278px;
	height: 25px;
	margin-left: 13px;
	margin-top: 5px;
}
.popFillInfo select
{
	border: none;
	width:278px;
	height: 33px;
	background: #e6e6e6 ;
	color: #999;
	margin-left: 10px;
	display: inline-block;
}
.popFillInfo label
{
	font-weight: 100;
	color: #ccc;
	margin:8px 5px;
	display: inline-block;
	width:64px;
	text-align: right;
}*/

/*.popFillInfo .area
{
	width:90px;
	margin-left: 0px;
	margin-right: 0px;
}*/
/*.popFillInfo .find
{
	margin-bottom: 30px;
}*/
/*.popFillInfo #areaProvinceRegister
{
	margin-left: 10px;
}*/

/*.aa
{
	width: 28px;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}*/
.a
{
	display: block;
	text-align: left;
	width: 350px;
	margin:0 auto;
    margin-top: 5px;
}
.a span
{
	cursor: pointer;
	/*text-decoration: underline;*/
}

.b
{
	display: block;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
}

.setAdmin2
{
	display: inline-block;
	border: none;
	width:155px;
	height: 35px;
	background-color: #86a1fd;
	margin: 40px 0 5px 0;
	border-radius: 2px;
	text-align: center;
	line-height: 35px;
	letter-spacing: 5px;
	color: #fff;
	cursor: pointer;
}
.setAdmin2:hover{
	background-color: #6a85f8;
}
.userIcon
{
	background:#fff url(../img/icon_nicheng.png) center center no-repeat;
}
.realIcon
{
	background:#fff url(../img/icon_name.png) center center no-repeat;
}
.regionIcon
{
	background:#fff url(../img/icon_region.png) center center no-repeat;
}
.schoolIcon
{
	background:#fff url(../img/icon_school.png) center center no-repeat;
}
.duanIcon
{
	background:#fff url(../img/icon_xueduan.png) center center no-repeat;
}
.keIcon
{
	background:#fff url(../img/icon_xueke.png) center center no-repeat;
}


/*忘记密码*/
 .popApply{
 	width:253px;
	height:195px;
	display: none;
	background: #fff;
	position: fixed;
	left: 40%;
	top: 20%;
	z-index: 3;
	overflow: hidden;
	font-size: 14px;
	color: #0094FF;
	box-shadow: 0 0 30px #ccc;
 }   
 .popApply input
 {
 	width:170px;
	height: 30px;
	background: #e6e6e6;
	border: 1px solid #0094FF;
	/*margin-left: 35px;*/
	margin:5px auto;
	display: block;
 }
 .d{
 	color: #0094FF;
 	display: block;
 	width: 170px;
 	margin:0 auto;
 	text-align: left;
 }
 .c{
 	color: #8f8f8f;
 	text-align: right;
 	font-size: 12px;
 }
 .popApply button
 {
 	display: inline-block;
 	width:120px;
 	height: 35px;
 	border: none;
 	outline: none;
 	margin-top: 25px;
 	margin-left: 2px;
 	margin-right: 2px;
 	cursor: pointer;
 }
 
 .sure{
 	background: url(../img/popsure.png);
 }
 .surec
 {
 	background: url(../img/popsurec.png);
 }
 .backa
 {
 	background: url(../img/last.png);
 }
.backac
{
	background: url(../img/lastc.png);
}
