<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.cloud.resource.asset.dao.ZAssetMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.cloud.resource.asset.entity.ZAsset" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="Id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="ResourceId" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="TypeId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="UserId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="CreateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UpdateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="FileType" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="IsIssue" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="Notes" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Name" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="AssetPath" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="AssetDesc" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="keyWord" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="FileName" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="FilePath" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="IsSysRes" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="Attachement" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="AttachPath" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="AssetSize" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="CheckTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="CheckMan" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="CheckFlag" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="StuState" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="Flag" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="FileCode" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="IsWjb" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="WjbName" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="IsLocal" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="iscourseware" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="IsFinished" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="unifyTypeId" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Content" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  
  
  
  <select id="getAssetByUserIdAndPath" resultMap="BaseResultMap">
  	  select * from z_asset where userid = #{userId} and assetpath =#{resPath} 
  </select>
  
  
  
  <update id="updateAssetFinished">
  	update z_asset set isfinished = 0 where userId = #{userId} and assetPath = #{resPath} 
  </update>
  
  
     <!-- 自建资源前端展示信息 -->
   <resultMap id="viewMap" type="net.tfedu.zhl.cloud.resource.asset.entity.ZAssetView"> 		
      <result column="resid"  property="resId" />
      <result column="rescode"  property="resCode" />
      <result column="title"  property="title" />
      <result column="unifytype" property="unifyType" />
      <result column="time"  property="time" />
      <result column="imgpath"  property="imgPath" />
      <result column="filesuffix" property="fileSuffix" />
   </resultMap>
  
  <select id="queryMyAssets" resultMap="viewMap">
	select  resId,rescode,title,unifytype,time,imgpath,filesuffix from  (	 
			select  a.id as resId,a.resourceid as rescode,a.name as title,a.createTime as time,p.id as unifyTypeId
			,p.MType as  unifyType,a.AssetPath as imgPath ,REVERSE(LEFT(REVERSE(AssetPath),LOCATE('.',REVERSE(AssetPath))-1)) as fileSuffix
			from  z_asset a 
			LEFT JOIN x_resourcetype p  on p.id = a.unifyTypeId		
			where a.userid = #{userId}
			and a.flag =false and a.FileType = 'A'

 	)temp_result 
	where  1 =1 
   	<if test="unifyTypeId>0">
		and EXISTS ( select  id from x_resourcetype  where (id = #{unifyTypeId}>0 or pid = #{unifyTypeId}>0 )and flag =false and id = temp_result.unifyTypeId )
	</if>
	
	<if test=" (fileFormat !='' and fileFormat !=null and fileFormat!='全部' and fileFormat!='all') ">
		and EXISTS (select FormatCode from j_filetypedetail where flag = false  and FileFormat =#{fileFormat} and FormatCode = CONCAT('.',temp_result.filesuffix))
	</if>   
	ORDER BY time desc 
  </select>
  

</mapper>
