<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.sso.users.dao.RGroupMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.sso.users.entity.RGroup" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="Id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="UserId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="ClassId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="SchoolId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="Name" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="ChkTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="Flag" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="model" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="tag" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
</mapper>