<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.sso.users.dao.ZWXMRegisterMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.sso.users.entity.ZWXMRegister" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="userName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="bindPhone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="thirdPartyNumber" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="registerTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="flag" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="fromFlag" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="fromProject" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="userPwd" jdbcType="LONGVARBINARY" javaType="byte[]" />
    </constructor>
  </resultMap>
  
  <update id="updatePwd">
            update  m_register set userPwd=#{pwd}  where id =#{id} 
       
  </update>
  
  
  <update id="updateUserVIPEnd">
              UPDATE j_user  set vipEnd = #{vipEnd} where name = #{userName}
  </update>
  
</mapper>