<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.cloud.core.term.dao.JUserTermMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.cloud.core.term.entity.JUserTerm" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="Id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="UserId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="TermId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="Flag" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
  
  
  
  <update id="updateUserTerm">
		update j_userterm set termid =#{1} where userid = #{0}
  </update>
  
  
  
</mapper>