<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.cloud.resource.prepare.dao.JPrepareMapper" >

  <resultMap id="BaseResultMap" type="net.tfedu.zhl.cloud.resource.prepare.entity.JPrepare" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="userId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="createtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="courseId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="flag" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="ordernum" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="tfcode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="subjectId" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
    
  <!-- 备课夹前端展示信息 -->
   <resultMap id="viewResultMap" type="net.tfedu.zhl.cloud.resource.prepare.entity.JPrepareView" >
  		<result column="id" property="id" javaType="java.lang.Long"/>
  		<result column="title" property="title" javaType="java.lang.String"/>
  		<result column="timeLabel" property="timeLabel" javaType="java.lang.String"/>
   </resultMap>
  

      
  <!-- 系统资源的第一个关联节点的信息 -->
   <resultMap id="firstNavMap" type="net.tfedu.zhl.cloud.resource.prepare.entity.FirstNavigationInfo" >
  		<result column="title" property="title" javaType="java.lang.String"/>
  		<result column="tfcode" property="tfcode" javaType="java.lang.String"/>
  		<result column="resId" property="resId" javaType="java.lang.Long"/>
   </resultMap>
  

  
  
  <!--  清空目标备课夹下的所有备课夹内容  -->
  <update id="clearPrepareContentByPrepareId" parameterType="Long">
  		update  j_prepare_content set flag = true where preid = #{prepareId}	
  </update>
  
  
   <!--  将默认0的排序字段设置为id的值  --> 
  <update id="update_default_prepare_order">
  		update j_lession_prepare set ordernum =id where ordernum = 0 
  </update>
  
  
   <!--  将默认0的排序字段设置为id的值  --> 
  <update id="update_default_prepare_content_order">
  		update j_prepare_content set orderidx =id where orderidx = 0 
  </update>
  
  
  
  <!-- 删除备课夹中指定的类型的资源 -->  
  <update id="removeResourceFromPrepare">
  	update j_prepare_content set flag = true where preId = #{0} and contType = #{1} and contId = #{2} 
  </update>
  
  
  
  
    <!-- 获取备课夹 -->
  <select id="queryPrepareList" resultMap="viewResultMap">
  	SELECT
	id,
	title,
	'' as timeLabel
	FROM
		j_lession_prepare
	WHERE
		tfcode LIKE #{0}
	AND userid = #{1} AND flag = false 
	ORDER BY ordernum desc
  </select>
    <!-- 获取备课夹及其时间范围 -->
  <select id="queryPrepareAndTimeScopeList" resultMap="viewResultMap">
  	SELECT
	id,
	title,
	(CASE WHEN createtime > DATE_SUB(CURDATE(), INTERVAL 1 WEEK) then 'withinweek'
	   WHEN  createtime > DATE_SUB(CURDATE(), INTERVAL 1 MONTH) then 'withinmonth'
	   ELSE  'moreearly' END) as timeLabel
	FROM
		j_lession_prepare
	WHERE
		tfcode LIKE #{0}
	AND userid =  #{1}  AND flag = false 
	ORDER BY ordernum desc
  </select>
  
  
  
  
 
  
  <select id="getFirstNavigationForSysResource" parameterType="String" resultMap="firstNavMap"> 	
		select  n.structCode as tfcode,t.Name as title,r.id as resId  from z_resnav n
		left join j_syscourse t  on t.TFcode = n.StructCode
		LEFT JOIN z_resource  r  on r.ResCode = n.ResCode
		where n.rescode = #{resCode} ORDER BY n.createdt limit 1
  </select>
  
   
  
   <!-- 备课夹内容前端展示信息 -->
   <resultMap id="viewPrepareContMap" type="net.tfedu.zhl.cloud.resource.prepare.entity.JPrepareContentView"> 		
      <id column="id" property="id" />
      <result column="title"  property="title" />
      <result column="resid"  property="resId" />
      <result column="fromflag" property="fromFlag" />
      <result column="unifytype" property="unifyType" />
      <result column="size" property="size" />
      <result column="timeline" property="timeline" />
      <result column="time"  property="time" />
      <result column="imgpath"  property="imgPath" />
      <result column="filesuffix" property="fileSuffix" />
   </resultMap>
  
  
  
  
  <!-- 获取备课夹内容列表(其中缩略图、文件后缀需要工具类继续处理) -->
  <select id="queryPrepareContentList" resultMap="viewPrepareContMap" > 
    <![CDATA[ 	  
  	select  id,title,resId,fromFlag,unifytype,size,timeline,time,imgpath,filesuffix from  (	
		select  t.id ,a.id as resId,a.name as title,a.createTime as time,1 as fromFlag
		,p.MType as  unifyType,a.AssetSize as size,'' as timeline,a.AssetPath as imgPath ,'' as fileSuffix,t.orderIdx
		from  j_prepare_content  t  
		LEFT JOIN z_asset a on a.id = t.contId 
		LEFT JOIN x_resourcetype p  on p.id = a.unifyTypeId
		where t.preid = #{0}  and t.flag = false  and t.contType in (1,9)
		and a.flag =false and a.FileType = 'A'
		
		UNION ALL
		
		select t.id,z.Id as resId,z.title,z.CreateDT  as  time,0 as fromFlag
		,p.MType as  unifyType,z.FSize as size,IFNULL(m.res_time,'') as  timeline ,CONCAT(z.FPath,'\\\\',z.Fname) as imgPath ,'' as fileSuffix,t.orderIdx		
		from  j_prepare_content  t  
		LEFT JOIN z_resource  z on t.contId = z.Id
		LEFT JOIN x_resourcetype p  on p.id = z.MType
		LEFT JOIN z_res_medium m on m.res_code = z.ResCode
		where t.preid =   #{0}  and t.flag = false  and t.contType in (2,10)
		and z.flag = false 
		
		UNION ALL 
		
		select t.id,r.id as resId,r.title,r.CreateDT as time ,fromFlag as fromFlag
		,p.MType as unifyType,r.FSize as size,'' as timeline,r.fullpath as imgPath ,'' as fileSuffix,t.orderIdx
		from  j_prepare_content  t  
		LEFT JOIN z_districts_resource r on r.id = t.contId
		LEFT JOIN x_resourcetype p on p.id = r.unifyTypeId
		where t.preid =  #{0}  and t.flag = false  and t.contType in (11,12)
		and r.flag = false 
		
	)temp_result ORDER BY orderIdx desc 
	 ]]>
  </select>
  
  
  
  
  
    
   <!-- 简版资源的信息，用于获取播放或下载路径 -->
   <resultMap id="simpleResInfo" type="net.tfedu.zhl.cloud.resource.prepare.entity.ResourceSimpleInfo"> 		
   	  <result column="resid" property="resid"/>
      <result column="rescode"  property="rescode" />
      <result column="title"  property="title" />
      <result column="fromflag" property="fromflag" />
      <result column="isnet" property="isnet" />
      <result column="isdwj" property="isdwj" />
      <result column="path"  property="path" />
   </resultMap>
  
  
  <!--  获取自建资源的信息 -->
  <select id="getAssetInfo" resultMap="simpleResInfo">
  	select  id as resid,name as title,resourceid as rescode, 1 as fromflag,islocal as isnet,iswjb as isdwj,assetpath as path  from z_asset 
  	where id = #{0} and filetype = 'A' and flag = false 
  </select>
  <!--  获取系统资源的信息 -->
  <select id="getResourceInfo" resultMap="simpleResInfo">
  	select id as resid,title,rescode,0 as fromflag , 0 isnet ,isdwj ,concat(fpath,'\\',fname) as path from z_resource
  	  where flag = false and id = #{0}
  </select>
  <!-- 获取区校本资源的信息 -->
  <select id="getDistrictORSchoolResInfo" resultMap="simpleResInfo">
  	select id as resid,title, rescode,fromflag, islocal as  isnet ,isdwj as isdwj ,fullpath  as path 
  	from z_districts_resource  where flag = false and id = #{0}  
  </select>
  
  
  
  
  
  
    
    
   <!-- 简版资源的信息，用于获取播放或下载路径 -->
   <resultMap id="prepareStatisMap" type="net.tfedu.zhl.cloud.resource.prepare.entity.UserPrepareStatisInfo"> 		
      <result column="tfcode"  property="tfcode" />
      <result column="title"  property="title" />
      <result column="preparenums" property="prepareNums" />
      <result column="resourcenums" property="resourceNums" />
      <result column="nodefinishednums" property="nodeFinishedNums" />
      <result column="nodeomitnums"  property="nodeOmitNums" />
   </resultMap>
  	
  
  <!--  获取用户的备课夹统计(部分)  -->
	<select id="getUserPrepareStatisButPartResult" resultMap="prepareStatisMap" parameterType="Long">
		select  s.tfcode,s.Name as title
		from 
			(SELECT DISTINCT LEFT(t.tfcode,10) as tfcode 
			
			FROM
				j_lession_prepare t
			WHERE
				LENGTH(t.tfcode)>=10  and t.flag =false 
			AND t.userid = #{userId} )temp
		LEFT JOIN j_syscourse s on temp.tfcode = s.tfcode
		where s.flag = false
  </select>
  
  
  <select id="getBookPrepareStatis" resultMap="prepareStatisMap" >
  	SELECT   preparenums,resourcenums,nodefinishednums,(nodeallnumbers-nodefinishednums) as nodeomitnums from (
		select  sum( IF(childrennum=0,1,0) ) as nodeallnumbers,sum(prenum) as preparenums 
			,sum(if(prenum=0,0,1)) as nodefinishednums,sum(resnum) as resourcenums
		from (
			SELECT 	id,tfcode
			,(select count(1) from j_lession_prepare t where t.tfcode = p.tfcode  and userid =#{userId} and flag =FALSE ) as prenum
			,(select count(c.id) from j_lession_prepare t,j_prepare_content c where t.tfcode = p.tfcode and t.flag =false 
									and userid = #{userId} and t.id = c.preId and c.flag = false and c.contType in (1,2,9,10,11,12) ) as resnum 
			,(SELECT count(1)	FROM	j_syscourse pp	WHERE	pp.pnodeid = p.id	AND pp.flag = FALSE ) AS childrennum
			FROM
				j_syscourse p
			WHERE
				tfcode LIKE #{tfcode}
			AND flag = FALSE 
		)temp 
	)tep2
  </select>
  
  
 
  
</mapper>