@charset "utf-8";
/* CSS Document */
body{ margin:0; padding:0; text-align:center; font-family:"Microsoft Yahei"; font-size:14px}
.my404{ overflow:hidden; margin:0 auto; text-align:left; width:810px;}
.my404{ padding-top:150px;}
.my404 a{ color:#0072BF; text-decoration:none}
.my404 a:hover{ text-decoration:underline}
.my404Top .flimg{ float:left; margin-left:60px; display:inline}
.my404Top .my404_R{ margin-left:350px}
.my404_R p{ margin:0; padding:0}
.my404_R .p1{ color:#666; font-size:90px;}
.my404_R .p2{ color:#666; font-size:24px;}
.my404_R .p3{padding-top:30px; font-size:18px}
.my404_R .p3 a{ margin-right:90px}
.my500_con { background:#F8F8F8;min-height:500px; margin:20px 0; display:none}


