<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
	default-lazy-init="false">
	<!-- default-lazy-init="false"，设置成false，注解模式@Scheduled才起作用 -->

	<!-- Activates scanning of @Autowired -->
	<context:annotation-config />

	<!-- 1、authc 表示需要认证的链接
		2、perms[/url] 表示该链接需要拥有对应的资源/权限才能访问
		3、roles[admin] 表示需要对应的角色才能访问
		4、perms[admin:url] 表示需要对应角色的资源才能访问
		 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/security/tologin" />
		<property name="successUrl" value="/views/index" />
		<property name="unauthorizedUrl" value="/" />

		<property name="filterChainDefinitions">
			<value>
				/security/*=anon <!-- anon 表示无需认证 -->
				/views/*=anon <!-- anon 表示无需认证 -->
				/** = authc <!-- authc 表示需要认证才能访问的页面 -->
			</value>
		</property>
	</bean>

	<bean id="ssoRealm" class="net.tfedu.zhl.sso.service.SsoRealm">
		<property name="accountService" ref="accountService" />
	</bean>

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="ssoRealm"></property>
	</bean>

	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>  
 
</beans>
