<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.cloud.zns.caidian.dao.EduTeacherMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.cloud.zns.caidian.entity.EduTeacher" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="teacher_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="school_guid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="job_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="english_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="chinese_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="former_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gender" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="birthday" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="birthplace" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="nation" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="country" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="card_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="card_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="card_period" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="marital_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="overseas_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="religion_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="political_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="health_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="blood_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="photo" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="hometown" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="nature_address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="nature_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="authorized_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="archive_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="archive_text" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="address_comm" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="qq" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="work_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="telephone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="post_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="website" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="special" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="personal_nature" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="partymembership_date" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="teacher_certificatetype" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="teacher_status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="state_effctive_date" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_delete" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="data_context" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="guid" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  
  
  
  
  
  <resultMap type="net.tfedu.zhl.cloud.zns.caidian.model.UserInfo4Caidian" id="userinfoMap">
  	<result column="uuid" property="uuid"/>
  	<result column="school_id" property="school_id"/>
  	<result column="school_name" property="school_name"/>
  	<result column="true_name" property="true_name"/>
  	<result column="gender" property="gender"/>
  	<result column="birthday" property="birthday"/>
  	<result column="email" property="email"/>
  	<result column="termname" property="termname"/>
  	<result column="user_name" property="user_name"/>
  
  </resultMap>
  
  
  
  <!--  查询用户信息  -->
  <select id="getUserInfo" resultMap="userinfoMap" parameterType="String">
  	  SELECT
			t.guid as uuid ,
			t.school_guid as school_id,
			s.name as school_name ,
			t.NAME as true_name ,
			t.gender,
			t.birthday,
			t.email
		,n.name as termname,a.user_name
		FROM
		edu_teacher t
		LEFT JOIN edu_school s on s.guid = t.school_guid
		LEFT JOIN edu_teacher_class tc on tc.teacher_guid = t.guid
		LEFT JOIN edu_class c on c.guid = tc.class_guid
		LEFT JOIN edu_grade g on c.grade_guid= g.guid
		LEFT JOIN edu_section n on n.guid = g.section_guid
		LEFT JOIN edu_account  a on a.person_guid = t.guid 
		where a.user_name =#{loginName}   
  </select>
  
  
  
  
</mapper>