<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.cloud.resource.poolTypeFormat.dao.ResPoolTypeMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.cloud.resource.poolTypeFormat.entity.ResPoolType" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="poolId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="resTypeId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="flag" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
  
   <!-- 系统资源，根据资源库id，查询所有的typeIds -->
  <select id="getAllTypeIdsByPool" parameterType="Long" resultType="Integer">
     SELECT distinct type_id from (SELECT b.id type_id,b.pid type_pid,a.poolId poolId,a.id from z_res_pooltype a LEFT JOIN x_resourcetype b on 
     a.resTypeId = b.ID where a.flag=0 and b.flag=0 UNION SELECT a.id type_id,a.pid type_pid,b.poolId poolId,b.id from  
     x_resourcetype a LEFT JOIN z_res_pooltype b on a.Pid = b.resTypeId where a.flag=0 and b.flag=0) temp 
     <if test="poolId != 0">   <!-- poolId == 0 时，查询全部资源库下的资源类型 -->
          where poolId = #{poolId}
     </if>
    
  </select>
  
</mapper>