<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.cloud.resource.poolTypeFormat.dao.ResTypeMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.cloud.resource.poolTypeFormat.entity.ResType" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="MType" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="code" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="flag" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="PId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="Level" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="TypeFlag" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="RoleId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="SchoolId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="SubjectId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="DisplayIndex" jdbcType="TINYINT" javaType="java.lang.Byte" />
    </constructor>
  </resultMap>
  
   <!-- 系统资源：得到父类型的所有子类型及其自身  -->
  <select id="getTypesByPMTypeAndPool"  resultType="Integer">
      SELECT DISTINCT type_id  from (SELECT b.id type_id,b.pid type_pid,a.poolId poolId,a.id from z_res_pooltype a LEFT JOIN x_resourcetype b on 
      a.resTypeId = b.ID where a.flag=0 and b.flag=0 UNION SELECT a.id type_id,a.pid type_pid,b.poolId poolId,b.id from  
      x_resourcetype a LEFT JOIN z_res_pooltype b on a.Pid = b.resTypeId where a.flag=0 and b.flag=0) temp 
     
     <if test="poolId != 0 and MType == 0">
         where poolId = #{poolId}
     </if>
     <if test="MType != 0">
         where type_id = #{MType} or type_pid = #{MType}
     </if>
  </select>
  
   <!-- 区本校本资源：得到父类型的所有子类型及其自身  -->
  <select id="getDisResTypesByPMType"  resultType="Integer">
      SELECT DISTINCT type_id  from (SELECT b.id type_id,b.pid type_pid,a.poolId poolId,a.id from z_res_pooltype a LEFT JOIN x_resourcetype b on 
      a.resTypeId = b.ID where a.flag=0 and b.flag=0 UNION SELECT a.id type_id,a.pid type_pid,b.poolId poolId,b.id from  
      x_resourcetype a LEFT JOIN z_res_pooltype b on a.Pid = b.resTypeId where a.flag=0 and b.flag=0) temp 
     <if test="MType != 0">
         where type_id = #{MType} or type_pid = #{MType}
     </if>
  </select>
  
  
  <!-- 根据sys_from, 父结点tfcode，查询系统资源的所有id -->
  <resultMap id="SysResIdsMap"  type="Long">
       <result column="sys_id" property="id" />
  </resultMap>
  <select id="getAllSysResIds"  parameterType="HashMap"  resultMap="SysResIdsMap">
  
      select a.Id sys_id from z_resource a 
      left join z_resnav c on a.ResCode=c.ResCode 
      left join j_syscourse d on c.StructCode=d.tfcode  
      where a.flag=0 and c.flag=0 and d.flag=0 and a.fromFlag in 
                <foreach item="item" index="index" collection="sys_from" 
                         open="(" separator="," close=")">
                         #{item}
                </foreach>
      and c.StructCode like  CONCAT(#{pTfcode},'%')
  </select>
  
  <!-- 根据父结点tfcode，查询区本、校本资源的所有id -->
  <resultMap id="DisResIdsMap"  type="Long">
       <result column="dis_id" property="id" />
  </resultMap>
  <select id="getAllDisResIds"  parameterType="HashMap"  resultMap="DisResIdsMap"> 
	select a.Id dis_id from z_districts_resource a 
	LEFT JOIN z_districts_resnav c on a.ResCode=c.ResCode 
	LEFT JOIN j_syscourse d on c.StructCode=d.tfcode
    where a.flag=0 and c.flag=0 and d.flag=0 and
    c.StructCode like CONCAT(#{pTfcode},'%')
  </select>
  
  
  <!-- 系统资源：当资源库选择  “全部” 或  “教学素材” 时，显示所有一级类型   -->
  <resultMap id="FirstTypeResultMap"  type="net.tfedu.zhl.cloud.resource.poolTypeFormat.entity.ResType">
       <id column="id" property="id" />
	   <result column="mtype" property="mtype" />
  </resultMap>
  <select id="getSysFirstLevelType"  resultMap="FirstTypeResultMap">
    select distinct case when b.PId=0 then b.MType ELSE pb.MType END mtype,case when b.PId=0 then b.id ELSE pb.id END id
    from z_resource a 
    left join x_resourcetype b on a.MType = b.id 
    left join x_resourcetype pb on pb.Id=b.pid 
    where a.flag = 0 and b.flag = 0

     <if test="resourceIds == null">
         and a.id in ('')
     </if>
     <if test="resourceIds != null ">
         and a.id in
                <foreach item="item" index="index" collection="resourceIds" 
                         open="(" separator="," close=")">
                         #{item}
                </foreach>
         and a.mtype in
                <foreach item="item" index="index" collection="typeIds" 
                         open="(" separator="," close=")">
                         #{item}
                </foreach> 
         group by MType
     </if>
  </select>
  
  <!-- 系统资源：当资源库选择  “动画焦教具”、“名师微课”、“教学案例” 时，显示所有二级类型。
              当资源库为“理化生实验”时，只显示“全部”。
     -->
  <resultMap id="SecondTypeResultMap"  type="net.tfedu.zhl.cloud.resource.poolTypeFormat.entity.ResType">
       <id column="id" property="id" />
	   <result column="mtype" property="mtype" />
  </resultMap>
  <select id="getSysSecondLevelType"  resultMap="SecondTypeResultMap">
     select distinct b.mtype,b.id from z_resource a 
     left join x_resourcetype b on a.MType = b.id 
     where a.flag = 0 and b.flag = 0 and b.level = 2 
     <if test="resourceIds == null">
         and a.id in ('')
     </if>
     <if test="resourceIds != null ">
         and a.id in
                <foreach item="item" index="index" collection="resourceIds" 
                         open="(" separator="," close=")">
                         #{item}
                </foreach>
         and a.mtype in
                <foreach item="item" index="index" collection="typeIds" 
                         open="(" separator="," close=")">
                         #{item}
                </foreach> 
         group by MType
     </if>  
  </select>
  
  <!-- 区本校本资源： 资源类型查询 ，fromFlag用以区分校本、区本 -->
  <select id= "getDisResType" resultMap="SecondTypeResultMap">
     select distinct case when b.PId=0 then b.MType ELSE pb.MType END MType,case when b.PId=0 then b.id ELSE pb.id END id
     from z_districts_resource a
     left join x_resourcetype b on a.MType = b.id 
     left join x_resourcetype pb on pb.Id = b.pid 
     where a.flag = 0 and b.flag = 0 and (pb.flag = 0 or pb.flag is null)
     and a.fromFlag in (#{fromFlag})
     <if test="resourceIds == null">
         and a.id in ('')
     </if>
     <if test="resourceIds != null ">
         and a.id in
                <foreach item="item" index="index" collection="resourceIds" 
                         open="(" separator="," close=")">
                         #{item}
                </foreach>
     </if>  
     group by MType order by b.displayIndex asc
  </select>
  
  
  <resultMap type="net.tfedu.zhl.cloud.resource.poolTypeFormat.entity.FirstLevelResType" id="firstLevelResTypeMap">
        <id column="id" property="id" />
	   <result column="mtype" property="mtype" />
	   <result column="code" property="code" />
  </resultMap>
  <select id="getAllFirstLevelResType" resultMap="firstLevelResTypeMap">
  		select  id,mtype,code from x_resourcetype where flag =false and flag =false and pid = 0 order by displayindex
  </select>
</mapper>