<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.cloud.resource.resourceList.dao.DistrictResMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.cloud.resource.resourceList.entity.DistrictRes" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="Id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="ResCode" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Provider" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Title" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="keyWord" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="FPath" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Fname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CreatorId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="AuthorId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="CreateDT" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UpdateDT" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="FSize" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="TypeLean" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="IsLocal" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="EditorId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="ThumbnailName" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="ThumbnailNote" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="ThumbnailPath" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="EduPlace" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="SuitTerm" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Copyright" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="UpLoadScore" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="DLoadTimes" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="DLoadScore" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ClickTimes" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="assetId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="SCTimes" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Rdes" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Flag" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="fromFlag" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="isDWJ" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="FileExt" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="authorunit" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="displayLevel" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="NewTeachingtype" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MType" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="displayIndex" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Fullpath" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="speaker" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="speakerUnit" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Resolution" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="AuthorFromFlag" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Scope" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ScopeId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="State" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="AuditOpinion" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="isFinished" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="unifyTypeId" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Des" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <!-- 根据用户id获得区、校信息 -->
  <resultMap id = "DisAndSchoolMap" type="net.tfedu.zhl.cloud.resource.resourceList.entity.DisAndSchoolEntity">
       <result column="schoolid" property="schoolId" />
       <result column="districtId" property="districtId" />
  </resultMap>
  <select id="getDisAndSchool" resultMap="DisAndSchoolMap">
      select u.schoolid ,s.districtId from  j_user u  LEFT JOIN j_school s ON s.id = u.SchoolId WHERE u.id = #{userId}
  </select>
  
  <!-- 查询区本校本资源信息 -->
  <resultMap id="DisResMap" type="net.tfedu.zhl.cloud.resource.resourceList.entity.DisResourceEntity" >
       <result column="Id" property="Id" />
       <result column="ResCode" property="ResCode" />
       <result column="Title" property="Title" />
       <result column="Fpath" property="Fpath" />
       <result column="Fname" property="Fname" />
       <result column="MType" property="MType" />
       <result column="typeId" property="typeId" />
       <result column="FSize" property="FSize" />
       <result column="DLoadTimes" property="DLoadTimes" />
       <result column="ClickTimes" property="ClickTimes" />
       <result column="speaker" property="speaker" />
       <result column="res_time" property="res_time" />
       <result column="FileExt" property="FileExt" />
       <result column="resolution" property="resolution" />
       <result column="isDWj" property="isDWJ" />
       <result column="UpdateDT" property="UpdateDT" />
       <result column="orderNum" property="orderNum" />
       <result column="avgScore" property="avgScore" />
       <result column="fromFlag" property="fromFlag" />
       <result column="isLocal" property="isLocal" />
       <result column="state" property="state" />
       <result column="fromFlag" property="fromFlag" />
       
  </resultMap>
  <select id="selectDisRes" resultMap="DisResMap">
    select DISTINCT a.Id,a.ResCode,a.Title,a.Fname,a.Fpath,b.MType MType, b.id typeId,a.Fsize Fsize,a.ClickTimes,a.DLoadTimes,a.speaker, 
    m.res_time,a.UpdateDT,a.FileExt,a.resolution,a.isDWJ,jf.orderNum,a.isLocal,a.ScopeId,a.state,a.fromFlag,
	(SELECT ((IFNULL(sum(t.Ascore),0)+a.displayLevel)/(count(t.assetId)+1)) from  z_assetevaluate t where t.assetId = a.id and t.flag = 0 and t.IsScore = 0 and t.aType = #{fromFlag}) avgScore 
	from z_districts_resource a left join x_resourcetype b on a.flag = 0 and b.flag = 0 and a.MType = b.id 
	left join j_filetypedetail jf on a.FileExt=jf.FormatCode and jf.flag = 0 
	LEFT JOIN z_districts_resnav c on c.flag=0 and a.ResCode=c.ResCode 
	left join j_syscourse d on d.flag=0 and  c.StructCode=d.tfcode 
	left join z_res_medium m on a.id = m.res_Id and a.Rescode = m.res_code  
    
    where c.StructCode like  CONCAT(#{tfcode},'%')   
    
    <if test="fileFormat != '全部'">
         and jf.FileFormat = #{fileFormat}
    </if>
   
     <if test="typeIds != null">
         and (b.id in <foreach item="item" index="index" collection="typeIds" 
                         open="(" separator="," close=")">
                         #{item}
                </foreach>
              )
     </if>
     
    <if test="fromFlag == 3">
         and a.scopeId = #{schoolId}
    </if>
     <if test="fromFlag == 4">
         and a.scopeId = #{districtId}
    </if>
    <if test="orderBy == 0"><!-- 综合排序 -->
        order by avgScore desc
     </if>
     <if test="orderBy == 1"><!-- 最多下载 -->
        order by DloadTimes desc
     </if>
     <if test="orderBy == 2"><!-- 最新发布 -->
        order by UpdateDT desc
     </if>
     ,b.DisplayIndex asc,orderNum asc
  </select>
  
</mapper>