<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.cloud.resource.resourceList.dao.SysResourceMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.cloud.resource.resourceList.entity.SysResource" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="Id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="ResCode" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Provider" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Title" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="keyWord" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="FPath" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Fname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Creator" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Author" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="CreateDT" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UpdateDT" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="FSize" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="TypeLean" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="oldMType" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="IsLocal" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="Editor" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="ThumbnailName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ThumbnailNote" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="ThumbnailPath" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="EduPlace" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="SuitTerm" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Copyright" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="UpLoadScore" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="DLoadTimes" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="DLoadScore" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ClickTimes" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="SCTimes" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Rdes" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Flag" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="fromflag" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="isDWJ" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="FileExt" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="authorunit" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="displayLevel" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="NewTeachingtype" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MType" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="displayIndex" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Fullpath" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="speaker" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="speakerUnit" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Resolution" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="unifyTypeid" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Des" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  
 
 <!-- 分页查询系统资源信息的每一条记录信息 -->
 <resultMap id="SysResourceMap" type="net.tfedu.zhl.cloud.resource.resourceList.entity.SysResourceEntity" >
       <result column="Id" property="Id" />
       <result column="ResCode" property="ResCode" />
       <result column="Title" property="Title" />
       <result column="Fpath" property="Fpath" />
       <result column="Fname" property="Fname" />
       <result column="MType" property="MType" />
       <result column="typeId" property="typeId" />
       <result column="FSize" property="FSize" />
       <result column="DLoadTimes" property="DLoadTimes" />
       <result column="ClickTimes" property="ClickTimes" />
       <result column="speaker" property="speaker" />
       <result column="res_time" property="res_time" />
       <result column="FileExt" property="FileExt" />
       <result column="resolution" property="resolution" />
       <result column="diskorder" property="diskorder" />
       <result column="Displayindex" property="Displayindex" />
       <result column="isDWj" property="isDWJ" />
       <result column="UpdateDT" property="UpdateDT" />
       <result column="orderNum" property="orderNum" />
       <result column="avgScore" property="avgScore" />
       <result column="fromFlag" property="fromFlag" />
       <result column="thumbnailpath" property="thumbnailpath" />
       <result column="fullpath" property="fullpath" />
 </resultMap>
 <!-- 分页查询系统资源信息的所有记录 -->
 <select id="SelectSysResources"  resultMap="SysResourceMap">
   
    select distinct a.Id,a.ResCode,a.Title,a.Fname,a.Fpath,CONCAT(a.Fpath,'/',a.Fname) fullpath,a.thumbnailpath,b.MType MType, b.id typeId, a.FSize FSize,a.ClickTimes,a.DloadTimes,a.speaker, 

	m.res_time,a.UpdateDT,a.FileExt,a.resolution,1 diskorder,a.isDWJ,jf.orderNum,b.DisplayIndex, a.fromFlag,
	(SELECT ((IFNULL(sum(t.Ascore),0)+a.displayLevel)/(count(t.assetId)+1)) from z_assetevaluate t where t.assetId = a.id and t.flag = 0 and t.IsScore = 0 and t.aType = 1) avgScore
	from z_resource a 
	left join x_resourcetype b on a.MType = b.id and b.flag = 0
	left join j_filetypedetail jf on a.FileExt=jf.FormatCode and jf.flag = 0 
	left join z_resnav c on a.ResCode=c.ResCode and c.flag=0 
	left join j_syscourse d on  c.StructCode=d.TFcode and d.flag=0 
	left join z_res_medium m on a.id = m.res_Id and a.Rescode = m.res_code 
	LEFT JOIN z_res_disk k on k.rescode = a.rescode 
	where a.flag = 0 and a.fromflag in 
	
	            <foreach item="item" index="index" collection="sys_from" 
                         open="(" separator="," close=")">
                         #{item}
                </foreach>
	
	 and d.typeFlag in (0,1) 
	
	  <if test="fileFormat != '全部'">
         and jf.FileFormat = #{fileFormat}
      </if>
	
     <if test="typeIds.size() > 0">
          and a.mtype in <foreach item="item" index="index" collection="typeIds" 
                         open="(" separator="," close=")">
                         #{item}
                     </foreach>
     </if>
               
     <if test="resourceIds.size() == 0">
         and a.id in ('')
     </if>
     <if test="resourceIds.size() > 0 ">
         and a.id in <foreach item="item" index="index" collection="resourceIds" 
                         open="(" separator="," close=")">
                         #{item}
                     </foreach>
     </if>
     and c.StructCode like  CONCAT(#{pTfcode},'%')               
     <if test="orderBy == 0"><!-- 综合排序 -->
        order by avgScore desc
     </if>
     <if test="orderBy == 1"><!-- 最多下载 -->
        order by DloadTimes desc
     </if>
     <if test="orderBy == 2"><!-- 最新发布 -->
        order by UpdateDT desc
     </if>
     ,DisplayIndex asc,orderNum asc,id                                  
 </select>
 
  <!-- 分页查询系统资源信息的所有记录，资源预览的推荐查询  -->
 <select id="getAllSysRes_Preview"  resultMap="SysResourceMap">
   
    select distinct a.Id,a.ResCode,a.Title,a.Fname,a.Fpath,CONCAT(a.Fpath,'/',a.Fname) fullpath,a.thumbnailpath,b.MType MType, b.id typeId, a.FSize FSize,a.ClickTimes,a.DloadTimes,a.speaker, 

	m.res_time,a.UpdateDT,a.FileExt,a.resolution,1 diskorder,a.isDWJ,jf.orderNum,b.DisplayIndex, a.fromFlag,
	(SELECT ((IFNULL(sum(t.Ascore),0)+a.displayLevel)/(count(t.assetId)+1)) from z_assetevaluate t where t.assetId = a.id and t.flag = 0 and t.IsScore = 0 and t.aType = 1) avgScore
	from z_resource a 
	left join x_resourcetype b on a.MType = b.id and b.flag = 0
	left join j_filetypedetail jf on a.FileExt=jf.FormatCode and jf.flag = 0 
	left join z_resnav c on a.ResCode=c.ResCode and c.flag=0 
	left join j_syscourse d on  c.StructCode=d.TFcode and d.flag=0 
	left join z_res_medium m on a.id = m.res_Id and a.Rescode = m.res_code 
	LEFT JOIN z_res_disk k on k.rescode = a.rescode 
	where a.flag = 0 and a.fromflag in 
	
	            <foreach item="item" index="index" collection="sys_from" 
                         open="(" separator="," close=")">
                         #{item}
                </foreach>
	
	 and d.typeFlag in (0,1) 
	
	  <if test="fileFormat != '全部'">
         and jf.FileFormat = #{fileFormat}
      </if>
	
     <if test="typeIds.size() > 0 ">
          and a.mtype in <foreach item="item" index="index" collection="typeIds" 
                         open="(" separator="," close=")">
                         #{item}
                     </foreach>
     </if>
               
     <if test="resourceIds.size() == 0 ">
         and a.id in ('')
     </if>
     <if test="resourceIds.size() > 0 ">
         and a.id in <foreach item="item" index="index" collection="resourceIds" 
                         open="(" separator="," close=")">
                         #{item}
                     </foreach>
     </if>
     and c.StructCode like  CONCAT(#{pTfcode},'%')               
     <if test="orderBy == 0"><!-- 综合排序 -->
        order by ((id = #{resId}))id desc,avgScore desc
     </if>
     <if test="orderBy == 1"><!-- 最多下载 -->
        order by ((id = #{resId}))id desc,DloadTimes desc
     </if>
     <if test="orderBy == 2"><!-- 最新发布 -->
        order by ((id = #{resId}))id desc,UpdateDT desc
     </if>
     ,DisplayIndex asc,orderNum asc                                  
 </select>
 
 <!-- 分页查询系统资源信息的所有记录，e备课  -->
 <select id="getAllSysRes_EPrepare"  resultMap="SysResourceMap">
   
    select distinct a.Id,a.ResCode,a.Title,a.Fname,a.Fpath,CONCAT(a.Fpath,'/',a.Fname) fullpath,a.thumbnailpath,b.MType MType, b.id typeId, a.FSize FSize,a.ClickTimes,a.DloadTimes,a.speaker, 

	m.res_time,a.UpdateDT,a.FileExt,a.resolution,1 diskorder,a.isDWJ,jf.orderNum,b.DisplayIndex, a.fromFlag,
	(SELECT ((IFNULL(sum(t.Ascore),0)+a.displayLevel)/(count(t.assetId)+1)) from z_assetevaluate t where t.assetId = a.id and t.flag = 0 and t.IsScore = 0 and t.aType = 1) avgScore
	from z_resource a 
	left join x_resourcetype b on a.MType = b.id and b.flag = 0
	left join j_filetypedetail jf on a.FileExt=jf.FormatCode and jf.flag = 0 
	left join z_resnav c on a.ResCode=c.ResCode and c.flag=0 
	left join j_syscourse d on  c.StructCode=d.TFcode and d.flag=0 
	left join z_res_medium m on a.id = m.res_Id and a.Rescode = m.res_code 
	LEFT JOIN z_res_disk k on k.rescode = a.rescode 
	where a.flag = 0 and a.fromflag in
	
	            <foreach item="item" index="index" collection="sys_from" 
                         open="(" separator="," close=")">
                         #{item}
                </foreach>
	
	 and d.typeFlag in (0,1) 
	
	  <if test="fileFormat != '全部'">
         and jf.FileFormat = #{fileFormat}
      </if>
      
      <if test="searchWord != null">
         and a.Title like CONCAT('%',#{searchWord},'%')    
      </if>
	
     <if test="typeIds.size() > 0">
          and a.mtype in <foreach item="item" index="index" collection="typeIds" 
                         open="(" separator="," close=")">
                         #{item}
                     </foreach>
     </if>
               
     <if test="resourceIds.size() == 0">
         and a.id in ('')
     </if>
     <if test="resourceIds.size() > 0 ">
         and a.id in <foreach item="item" index="index" collection="resourceIds" 
                         open="(" separator="," close=")">
                         #{item}
                     </foreach>
     </if>
     and c.StructCode like  CONCAT(#{pTfcode},'%')               
     <if test="orderBy == 0"><!-- 综合排序 -->
        order by avgScore desc
     </if>
     <if test="orderBy == 1"><!-- 最多下载 -->
        order by DloadTimes desc
     </if>
     <if test="orderBy == 2"><!-- 最新发布 -->
        order by UpdateDT desc
     </if>
     ,DisplayIndex asc,orderNum asc,id                                  
 </select>
 
 <!-- 资源预览  获取一条系统资源的详细信息 -->
 <select id="getSysResInfo" resultType="net.tfedu.zhl.cloud.resource.resPreview.entity.ResPreviewInfo">
   select distinct * from (select a.id,a.Title,a.keyWord,a.Des,a.fSize,e.MType,e.id typeId,a.DLoadTimes,a.ClickTimes,a.fromflag,a.fname,a.Fpath,
   (select COUNT(tt.id) from z_assetevaluate tt where tt.assetId = a.id and tt.flag = 0 and tt.IsScore = 0 and tt.aType = 1)userNum, 
   (select ascore from z_assetevaluate ttt where ttt.assetId = a.id and ttt.flag = 0 and ttt.IsScore = 0 and ttt.aType = 1 and ttt.UserId = #{userId} ) score,
   (SELECT ((IFNULL(sum(t.Ascore),0)+a.displayLevel)/(count(t.assetId)+1)) from  z_assetevaluate t where t.assetId = a.id and t.flag = 0 and t.IsScore = 0 and t.aType = 1) avgScore,a.FileExt,a.isDWJ 
   from z_resource a 
   left join z_resnav b on a.ResCode=b.ResCode and b.flag=0 
   left join j_syscourse c on c.tfcode = b.StructCode and c.flag=0 
   left join x_resourcetype e on a.MType = e.id where a.id =#{resId} and a.flag=0 ) a limit 1
 </select>
 
 <!-- 根据一个structCode 查询  一个版本的 目录-->
 <select id="getSysNav" resultType="net.tfedu.zhl.cloud.resource.resPreview.entity.ResNavEntity">
     select id,name,tfcode from j_syscourse where LOCATE(tfcode,#{structCode}) > 0 ORDER BY tfcode 
 </select>
 
 <!-- 根据系统资源id，查询其对应的所有版本的StructCode -->
 <select id="getAllRescodes" resultType="String">
    select StructCode from z_resnav nav 
	LEFT JOIN z_resource res on nav.ResCode = res.ResCode and res.flag = false 
	LEFT JOIN j_syscourse sys on sys.tfcode = StructCode and sys.flag = false 
	where res.id = #{resId} and nav.flag = false 
	ORDER BY LOCATE(#{curTfcode},StructCode) desc
 </select>
 
 
 <!-- 更新点击次数（+1） -->
 <update id="updateClickTime" parameterType="String">
	 update z_resource  set ClickTimes = ClickTimes+1  where rescode =#{rescode}
 </update>
 
 <!-- 更新下载次数（+1） --> 
 <update id="updateDownloadTime" parameterType="String">
 	update z_resource  set DLoadTimes = DLoadTimes+1  where rescode =#{rescode}
 </update>
 
</mapper>
