<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.cloud.resources.sysResList.dao.FileFormatMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.cloud.resources.sysResList.entity.FileFormat" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="Id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="FormatCode" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="FileFormat" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="TypeDesc" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="OrderNum" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Flag" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
</mapper>