<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.cloud.resources.sysResList.dao.ResTypeMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.cloud.resources.sysResList.entity.ResType" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="MType" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="code" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="flag" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="PId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="Level" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="TypeFlag" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="RoleId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="SchoolId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="SubjectId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="DisplayIndex" jdbcType="TINYINT" javaType="java.lang.Byte" />
    </constructor>
  </resultMap>
</mapper>