<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.cloud.resources.sysResList.dao.SysResNavMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.cloud.resources.sysResList.entity.SysResNav" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="Id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="ResCode" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="StructCode" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="ReschptMtno" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="ReschptPage" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="SubjectCode" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Subject" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Grade" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Vesion" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="ResUnitname" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="SysCourseId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="Flag" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="Ordernum" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="xueke" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="CreateDT" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UpdateDT" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
</mapper>