<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.sso.term.dao.JTermMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.sso.term.entity.JTerm" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="Id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="Name" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Notes" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="flag" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="code" jdbcType="CHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
</mapper>