<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.cloud.teaching.discuss.dao.TDiscussLogMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.cloud.teaching.discuss.entity.TDiscussLog" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="userid" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="createtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="classid" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  
  
  
  
  <select id="getReadLog" parameterType="Long" resultType="net.tfedu.zhl.cloud.teaching.discuss.entity.TDiscussRecommend">
	  	SELECT r.* FROM t_discuss_log l
	
		LEFT JOIN t_discuss_recommend r on r.id = l.classid
		
		where l.userid =#{userId} ORDER BY l.createtime desc  limit 10 
  </select>
</mapper>