<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.cloud.resource.poolconfig.dao.SAppUserPoolConfigMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.cloud.resource.poolconfig.entity.SAppUserPoolConfig" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="appId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="userid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="poolid" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="termid" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="subjectid" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="start_date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="expire_date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="add_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="edit_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="flag" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
  
  
  
  <resultMap type="net.tfedu.zhl.cloud.resource.poolconfig.module.AppUserPoolConfigRecord" id="recordMap">
  	
  	<id property="id" column="id"/>
  
  	<result  column="appid"  property="appId"/>
  	<result  column="username"  property="userName"/>
  	<result  column="poolid"  property="poolId"/>
  	<result  column="termid"  property="termId"/>
  	<result  column="subjectid"  property="subjectId"/>
  	<result  column="add_time"  property="addTime"/>
  	<result  column="start_date"  property="startDate"/>
  	<result  column="expire_date"  property="expireDate"/>
  	<result  column="termname"  property="termName"/>
  	<result  column="subjectname"  property="subjectName"/>
  	<result  column="poolname"  property="poolName"/>
  
  </resultMap>
  
  
  
  <select id="getAppUserPoolConfig" resultType="Map">
  	select  * from (
  	select c.poolid as id ,'' as name ,termid,subjectid,IFNULL((now() > c.start_date and c.expire_date>now()),FALSE) permission, IFNULL(c.expire_date,'')as expire_date from 

	s_appuser_pool_config c 
	
	where c.appid = #{appId} and c.userid = #{userName} and c.flag = false 
  
  	<if test="termId > 0 ">
		and termid = #{termId}
	</if>
	 
	<if test="subjectId > 0 ">
		and subjectid = #{subjectId}
	</if>
	)temp ORDER BY id desc 
  </select>
  
  
  <select id="queryAppUserPoolConfig" resultMap="recordMap">
  select  * from (
  SELECT t.id,t.appid,t.userid as username,t.poolid,t.termid,t.subjectid,t.add_time,t.start_date,t.expire_date 
	,IF(0=t.termid,'全学段',m.name) as termname
	,if(0=t.subjectid,'全学课',s.name) as subjectname
	,'' as poolname 
	FROM s_appuser_pool_config t
	LEFT JOIN j_term m on m.id = t.termid 
	LEFT JOIN j_subject s on s.id = t.subjectid
	where t.appid = #{appId} and t.flag = false
	<if test="termId!=null and termId >0 ">
		and t.termid = #{termId} 
	</if>
	
	<if test="subjectId!=null and subjectId > 0 ">
		and t.subjectid = #{subjectId}
	</if>
	
	
	
	<if test="poolId!=null and poolId > 0 ">
		and t.poolId = #{poolId}
	</if>
	
	
	
	<if test="year!=null and year > 0 ">
		and YEAR(t.add_time)  =#{year} 
	</if>
	
	
	<if test="userName!=null and userName.length()>0">
		and t.userid like CONCAT('%',#{userName},'%')
	</if>
	)temp ORDER BY id desc 
	
  
  </select>
  
</mapper>