<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
       default-lazy-init="false">



<!-- 
	<bean id="proxyServiceImpl" class="${proxyServiceImpl}"/>
	
	<bean id="casConfig" class="net.tfedu.zhl.cloud.casProxy.config.ThirdPartyCASConfig" />

	<bean id="proxyAction" class="net.tfedu.zhl.cloud.casProxy.action.CasProxyCommonAction" lazy-init="true">
		<property name="proxyService" ref="proxyServiceImpl" ></property>
		<property name="casConfig" ref="casConfig"></property>
	</bean>
 -->
 
	
	<bean id='proxyServiceImpl_weifang' class="net.tfedu.zhl.cloud.casProxy.service.impl.ProxyServiceImplWeiFang" />
	
</beans>
