<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.cloud.resource.user.teach.dao.JTeachSyscourseMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.cloud.resource.user.teach.entity.JTeachSyscourse" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="userId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="syscourseId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="termId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="subjectId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="flag" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
</mapper>