<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.tfedu.zhl.sso.dao.UserMapper">
	<resultMap id="BaseResultMap" type="net.tfedu.zhl.sso.entity.User">
		<!-- WARNING - @mbggenerated -->
		<constructor>
			<idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
			<arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
			<arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
			<arg column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
			<arg column="isDelete" javaType="java.lang.Integer" jdbcType="INTEGER" />
		</constructor>
	</resultMap>

	<resultMap id="userMap" type="net.tfedu.zhl.sso.entity.User">
		<id column="u_id" property="id" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="create_date" property="createDate" />
		<collection property="userRoles" ofType="net.tfedu.zhl.sso.entity.UserRole">
			<id column="ur_id" property="id" />
			<result column="user_id" property="userId" />
			<result column="rRoleId" property="roleId" />
		</collection>
		<collection property="userPermissions" ofType="net.tfedu.zhl.sso.entity.Permission">
			<id column="p_id" property="id" />
			<result column="token" property="token" />
			<result column="url" property="url" />
			<result column="pRoleId" property="roleId" />
			<result column="description" property="description" />
		</collection>
	</resultMap>
	
	<select id="getUserById" parameterType="int" resultMap="userMap">
		select u.id u_id,u.username,u.password,u.create_date,
		   ur.id ur_id,ur.user_id,ur.role_id rRoleId,
           p.id p_id,p.token,p.url,p.description,p.role_id pRoleId 
		from sys_user u
		LEFT JOIN sys_user_role ur on u.id=ur.user_id
        LEFT JOIN sys_permission p on ur.role_id=p.role_id
		where u.id=#{userId}
	</select>
	<select id="getUserByName" parameterType="String" resultMap="userMap">
		select u.id u_id,u.username,u.password,u.create_date,
		   ur.id ur_id,ur.user_id,ur.role_id rRoleId,
           p.id p_id,p.token,p.url,p.description,p.role_id pRoleId 
		from sys_user u
		LEFT JOIN sys_user_role ur on u.id=ur.user_id
        LEFT JOIN sys_permission p on ur.role_id=p.role_id
		where u.username=#{username}
	</select>
</mapper>