body {
	/*font-size: 16px;*/
	font-family: "微软雅黑";
}

.cover {
	position: absolute;
	left: 0px;
	top: 0px;
	background: rgba(15, 15, 15, .8);
	opacity: .5;
	z-index: 101;
	display: none;
	width: 100%;
}

.cov {
	z-index: -1;
	position: absolute;
	left: 0px;
	top: 0px;
	border: 1px solid #000;
	width: 100%;
}

.smallClassBox {
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 0 auto;
	background: #e6e6e6;
	z-index: 102;
	display: none;
	font-size: 18px;
	width: 100%;
	margin-top: 5px;
   
}

.smallHead {
}

li {
	list-style: none;
}

ul {
	margin-top: 0;
	padding: 0;
}

.term {
	display: block;
	height: 35px;
	width: 140px;
	display: block;
	margin: 20px auto;
}

.subject {
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	width: 300px;
	/*border: 1px solid #f00;*/
}

.subject li {
	float: left;
	border: 1px solid #999;
	background: #fff;
	margin: 0 20px;
	width: 60px;
	text-align: center;
	cursor: pointer;
}

.subject .style {
	background: #ff9978;
	color: #fff;
}

.videoList {
	/*border: 1px solid #f00;*/
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	width: 250px;
}

.videoList li {
	text-align: center;
	margin-left: 0;
	width: 250px;
	margin-bottom: 5px;
	cursor: pointer;
	position: relative;
}

.videoList img {
	display: block;
	margin: 0 auto;
	width: 100%;
	border: 1px solid #555;
}




.videoList span {
	display: block;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	white-space: nowrap;
	height: 20px;
}

.offVideo {
	font-size: 26px;
	position: absolute;
	left: 90%;
	top: 4px;
	cursor: pointer;
	color: #555;
	font-weight: bold;
}

.offVideo:hover {
	color: #f00;
}

.play {
	position: absolute;
	height: 0px;
	width: 0px;
	z-index: 1;
	left: 50%;
	top: 25%;
	background: url(../img/play.png) no-repeat center;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	background-size: cover;
}

.videoInfo {
	z-index: 102;
	overflow: hidden;
	background: rgb(25, 26, 30);
	box-shadow: 3px 3px 10px #000;
	height: 100%;
	overflow-y: auto;
}

.mb {
	position: absolute;
	left: 0px;
	top: 0px;
	background: rgba(155, 155, 155, 0.6);
	z-index: 103;
	display: none;
	width: 100%;
	overflow-y: auto;
}

.off {
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	width: 30px;
	float: right;
	cursor: pointer;
	color: #999;
	margin: 10px 10px;
}

.off:hover {
	color: #f00;
}

.videos {
	clear: both;
	width: 95%;
	height: 250px;
	margin: 0 auto;
	display: block;
}

.txt {
	font-size: 16px;
	color: #fff;
	margin-top: 15px;
	text-indent: 24px;
	/*white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;*/
}

@media screen and (max-width: 350px) {
	.foot_right {
		height: 180px;
		width: 180px;
	}
	.term {
		margin: 8px auto;
	}
	.videos {
		height: 220px;
	}
	.txt {
		margin-top: 5px;
	}
}

@media all and (orientation : landscape) {
	body
	{
		font-size: 16px;
	}
	.videoList li{
		float: left;
	}
}