<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.message.dao.JMessageMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.message.entity.JMessage" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="userid" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="sendUserId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="CreateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="objId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="objType" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="nagivation" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="downFlag" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="readflag" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="category" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="level" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="flag" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="operId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="msg" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  
  
  <select id="getUserNewMessageNumber" resultType="Integer" parameterType="Long">
  	select  count(1) from j_message where flag = false and userid = #{userId}  and readflag = false
  </select>
  
  
  
  <!-- 
  <select id="queryMessage" resultMap="BaseResultMap" parameterType="Long">
		  SELECT
			*
		FROM
			j_message
		WHERE
			flag = FALSE
		AND userid = #{userId}
		AND readflag = FALSE
		ORDER BY
			createtime 
  </select> -->
  
  
</mapper>