<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.cloud.resource.resCount.dao.ZResCountMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.cloud.resource.resCount.entity.ZResCount" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="tfcode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dh_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="wk_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sy_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sc_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="jf_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="al_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  
  
  <select id="getResCountWithChildren" parameterType="String" resultMap="BaseResultMap">
	  select  * from z_res_count where tfcode LIKE  CONCAT(#{tfcode},'%')	
  </select>
  
  <select id="getResCountWithChildrenLimitPoolResNumber" resultMap="BaseResultMap">
	  select  * from z_res_count where tfcode LIKE  CONCAT(#{tfcode},'%')	
	  <if test="1==poolId">
	  	and dh_count > 0
	  </if>	  
	  <if test="2==poolId">
	  	and wk_count > 0
	  </if>	  
	  <if test="3==poolId">
	  	and al_count > 0
	  </if>	  
	  <if test="4==poolId">
	  	and sc_count > 0
	  </if>	  
	  <if test="5==poolId">
	  	and jf_count > 0
	  </if>	  
	  <if test="6==poolId">
	  	and sy_count > 0
	  </if>	  
  </select>
  
  
  
  
</mapper>