<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.cloud.teaching.videoCourses.dao.TVideoLevelSubjectMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.cloud.teaching.videoCourses.entity.TVideoLevelSubject" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="levelId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="subjectId" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
</mapper>