<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.cloud.teaching.videoCourses.dao.TVideoLevelMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.cloud.teaching.videoCourses.entity.TVideoLevel" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  
  <!-- 根据课程等级，查询相应的学科 -->
  <select id="getSubjectsByLevel" resultType="net.tfedu.zhl.cloud.teaching.teachCases.entity.TSubject">
     select c.id,c.name from t_videoLevel a
     left join t_videoLevel_subject b on a.id = b.levelId
     left join t_subject c on b.subjectId = c.id
     where a.id = #{level}
  </select>
   
   <!-- 查询所有的视频课程等级 -->
  <select id="getAllLevels" resultType="net.tfedu.zhl.cloud.teaching.videoCourses.entity.TVideoLevel">
     select id,name from t_videolevel
   </select>
</mapper>