<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.tfedu.zhl.sso.back.func.dao.SProductBackFunclistMapper">
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.sso.back.func.entity.SProductBackFunclist">
    <!--
      WARNING - @mbggenerated
    -->
    <constructor>
      <idArg column="Id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="Name" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="FuncDesc" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="Path" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="Area" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="scope" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="IsBase" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="IsFree" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="IsEnabled" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="orderNum" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="Flag" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="pid" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="iconPath" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="product_code" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  
  <!-- 查询角色对应的(一級)功能 -->
  <select id="getFuncListForRole" resultMap="BaseResultMap">
  	SELECT f.*  FROM `s_product_back_roleconfig` t
	LEFT JOIN s_product_back_funclist f on f.id = t.funcid 
	where t.flag = false and t.roleid = #{roleId} and f.product_code = #{productCode} 
	and  pid = 0  
  </select>
  
  
  <!-- 获取指定功能的子功能 -->
  <select id="getFuncListByParent" resultMap="BaseResultMap">
  	select  * from s_product_back_funclist  where pid in 
  	<foreach close=")" collection="parentIds" item="id" open="(" separator=",">
  		id
  	</foreach>
  	order by pid 
  </select>
  
  
  <!-- 获取指定功能的子功能 -->
  <select id="getFuncListByTheParent" resultMap="BaseResultMap">
  	select  * from s_product_back_funclist  where pid = #{parentId} order by id
  </select>
  
  
  
</mapper>