<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.sso.province.dao.ProvinceMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.sso.province.entity.Province" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="Id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="Code" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Name" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Flag" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
  
  <resultMap id="resultProvince" type="net.tfedu.zhl.sso.province.entity.ProvinceEntity">
       <result column="pro_id" property="pro_id" />
       <result column="pro_name" property="pro_name" />
  </resultMap>
  
  <!-- 查询所有省份 -->
  <select id ="queryProvince" resultMap="resultProvince">
     select pro_id,pro_name from ( select id as pro_id,name as pro_name from q_province where flag=0 )a 
  </select>
  
  
  <!-- 查询省  -->
  
  <select id="queryProvinceByName" resultMap="BaseResultMap">
  		SELECT * FROM q_province where (name = #{name} or name like CONCAT('%',#{name},'%') ) and flag =false  ORDER BY id
  </select>
  
  
</mapper>