<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.zns.caidian.dao.EduGradeMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.zns.caidian.entity.EduGrade" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="grade_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="school_guid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="district_guid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="section_guid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="year_guid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="teacher_guid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="year" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="grade" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="start_year" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="end_year" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="preside" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_delete" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="data_context" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="guid" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
</mapper>