<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tfedu.zhl.zns.caidian.dao.EduSchoolMapper" >
  <resultMap id="BaseResultMap" type="net.tfedu.zhl.zns.caidian.entity.EduSchool" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="school_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="parent_school_guid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="category_guid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="data_context" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="english_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="post_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="org_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="org_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="school_type_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="main_lang_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="auxiliary_lang_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="area_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="admin_division" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="economic_property" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="national_property" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="town_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="town_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="contacts" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="contact_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="fax_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="school_status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="party_org_charger" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="legal_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="registration_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="principal_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="principal_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="principal_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="scene_entrance_age" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="scene_edu_system" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="high_edu_system" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="primary_entrance_age" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="primary_edu_system" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="school_year" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="decoration_day" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="historical_evolution" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_independent" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="website" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="school_altitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="longitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="latitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="enrollment_radius" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_delete" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="guid" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
</mapper>